---
title: Showcase
layout: base.ejs
---

<div class="P-$headerH;5px;0 D-f C-$accent900 md_P-$headerH;100px;0">
  <div class="D-n W40px Bdl1px;s;$accent750 Bdr1px;s;$accent750 md_D-f"></div>
      <div class="Pb40px W100p">
        <div class="M40px;0;80px P0;20px W100p Bdt1px;s;$accent750 Bdb1px;s;$accent750 md_W-$castomWidth md_M40px;-140px;80px md_P0;160px">
          <h1><span class="C-$brand">Mlut</span> is more than just CSS</h1>
        </div>
        <div class="H40px W100p Ml0 Bdt1px;s;$accent750 Bdb1px;s;$accent750 md_W-$castomWidth md_Ml-140px"></div>
          <ul class="Lss-n P0 M40px;20px D-g Gtc-t1 Gap40px sm_Gtc-t2 xl_Gtc-t3 xxl_Gtc-t4">
            <% for (let elem of it.cases) { %>
              <%- include('_includes/components/show-card-slider.ejs', { optTag: 'li', item: elem }) %>
            <% } %>
          </ul>
        <div class="H40px W100p Ml0 Bdt1px;s;$accent750 Bdb1px;s;$accent750 md_W-$castomWidth md_Ml-140px"></div>
      </div>
  <div class="D-n W40px Bdl1px;s;$accent750 Bdr1px;s;$accent750 md_D-f"></div>
</div>


<!-- <script src="https://cdn.jsdelivr.net/gh/web-projects-lab/hover-slider@1.0.3/hover-slider.min.js"></script> -->