<%
let cssHeaderLogoVisibility = "Vs-v O1"
if (it.area === "main"){
	cssHeaderLogoVisibility = "Vs-h O0"
}

%>

<!DOCTYPE html>
<html lang="en"
  class="
		Fns4u lg_Fns4.25u xl_Fns4.75u xxl_Fns5.25u
		-HeaderH15u -HeaderFns1r -LongTs0.5s -ShortTs0.2s
	  md_-HeaderH16u lg_-HeaderH14u xl_-HeaderH15u md_-SideH90vh
    Scb-s">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/style/style.min.css">
	<link rel="icon" type="image/x-icon" href="/assets/img/favicon.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/web-projects-lab/hover-slider@1.0.3/hover-slider-indicator.css">
  <title>mlut - make CSS exciting again!</title>
</head>
<body class="D-f Fld-c Jc-sb Fnf-sans-serif Bgc-$core950">
  <%- include('../_includes/header/header.ejs',{
		cssHeaderLogoVisibility: cssHeaderLogoVisibility
	}) %>
  <main >
    <%- it.content %>
  </main>

  <%- include('../_includes/footer.ejs') %>

	<script src="../assets/script/art-panel.js" type="module"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
	<script>hljs.highlightAll();</script>
	<script src="../assets/script/toggleLogo.js" type="module"></script>
</body>
</html>